/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../public/pexels-photo-1640777.jpeg') no-repeat center center/cover;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
